/**.pdf*/
/**.swp*/
/*.vim/view/**/
/*.ssh/id_rsa*/
/*.vim/bundle/**/
/*.fonts/**/
/*.Mathematica*/
*
!texmf
!~/essentials/texmf .

!.Xmodmap
!.tmux.conf
!.vim
!.vimrc
!.gitconfig
!.gitignore
!.Rprofile
!.ssh
!.zshrc
!.oh-my-zsh
!.matplotlib
!.matplotlib/matplotlibrc
!.config
!bin
